* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.navbar{
    min-height: 40px;
    background-color:#FF6900;
}

.footer{
    min-height: 50px;
    background-color: #1A1A1A;
}

.container-cards{
    margin: 0 auto;
    background-color: aquamarine;
}

.card{
    width: 470px;
    min-height: 728px;
    background-color: bisque;
    border: 1px solid black
}

.product-image{
    width: 470px;
    height: 671px;
    background-color: brown;
}

.row{
    display: flex;
}
